.breadcrumb {
	background-color: transparent;

	.breadcrumb-item {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #888888;
		a {
			color: inherit;
		}
	}
}
ol.breadcrumb {
	margin-bottom: 9px;
}
.doc-detail-inner-section {
	padding: 36px 0 97px;
	.doc-detail-content {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 21px;
	}
	.doc-detail-row {
		margin-top: 15px;
	}
	.statistical-content {
		gap: 38px;
		.statistical-item {
			gap: 6px;
			color: #888888;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			.follow-icon-active {
				display: none;
			}
			&.is-active {
				color: #4086ff;
				.follow-icon-active {
					display: block;
				}
				.follow-icon-unactive {
					display: none;
				}
			}
		}
	}
	#document-relation-right {
		padding-left: 60px;
	}
	.document-thematic-container {
		box-shadow: 0px 4px 12px rgba(116, 116, 116, 0.34);
		border-radius: 8px;
		padding: 24px 19px 19px 16px;
	}
	.document-thematic-title {
		line-height: 25px;
		margin-bottom: 20px;
	}
	.document-thematic-list {
		line-height: 22px;
	}
	.document-relation-container {
		box-shadow: 0px 4px 12px rgba(116, 116, 116, 0.34);
		border-radius: 8px;
		padding: 24px 19px 16px 16px;
	}
	.document-relation-title {
		line-height: 25px;
		margin-bottom: 20px;
	}
	.document-relation-list {
		line-height: 22px;
	}
	.icon-private {
		margin-left: 55px;
	}
}
