
a.ft-block__content {
	color: #333333;
}
.iconby {
	width: 20px;
}
.footer-logo {
	margin-bottom: 27px;
	padding-left: 0;
	width: 209px;
}
.app-links>a {
	width: 120px;
}
.connect-youtube {
	width: 28px;
}
.connect-facebook {
	width: 20px;
}
/* Style cho các thẻ text nữa. font-* ,text-* đang không giống design */
