.footer-main__container {
	border-bottom: 1px solid #ececec;
}
a.ft-block__content {
	color: #333333;
	/* 
        khai báo màu bên main.scss
        viết helper-class để tái sử dụng phần này
        Ex: 
        $textDark : #333333;
        .text-dark{
            color:#333333;
            caret: #333333;
        }
    */
}
.iconby {
	width: 20px;
}
.footer-logo {
	margin-bottom: 27px;
	padding-left: 0;
	width: 209px;
}
.download-app {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* 
        bọn attribute này đã có các class sẵn trong bootstrap, không viết lại.
    */
}
.app-links a {
	width: 120px;
	/* không dùng tag-name selector, nếu dùng thì dùng kèm combinators nhé */
}
.connect-youtube {
	width: 28px;
}
.connect-facebook {
	width: 20px;
}
/* Style cho các thẻ text nữa. font-* ,text-* đang không giống design */
