.company-info {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 12px;
}
.footer {
	background-color: #fafdff;
}
.license {
	font-size: 16px;
	line-height: 28px;
}
.ft-block-title {
	margin-top: 10px;
	line-height: 16px;
	font-weight: 800;
	font-size: 16px;
	line-height: 21px;
}
a.ft-block__content {
	line-height: 27px;
}
.iconby {
	width: 20px;
	padding: 1px;
}
.footer-logo {
	margin-bottom: 27px;
	padding-left: 0;
	width: 209px;
}
.app-links > a {
	width: 120px;
}
.connect-youtube {
	width: 28px;
}
.connect-facebook {
	width: 20px;
}
.copyright-footer {
	padding: 22px;
	border-top: 1px solid #e6e6e6;
}
.text-u-img {
	margin-top: 50px;
}
