.home-page-main .home-banner {
  height: 580px;
}

.home-page-main .home-banner-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-page-main .app-links-section {
  padding: 125px 0 90px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-main .app-links-section .ls .app-links-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 65px;
  margin-bottom: 25px;
}

.home-page-main .app-links-section .ls .app-links-desc {
  font-size: 24px;
  line-height: 28px;
  color: #616161;
}

.home-page-main .app-links-section .ls .links-btn {
  gap: 24px;
  margin-top: 33px;
  margin-bottom: 80px;
}

.home-page-main .app-links-section .rs .absolute-img {
  margin-left: 40px;
}

.home-page-main .app-links-section .rs .spec-desc {
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 25px rgba(2, 147, 52, 0.1);
          box-shadow: 0px 10px 25px rgba(2, 147, 52, 0.1);
  border-radius: 18px;
  gap: 18px;
  padding: 20px 16px;
  width: 267px;
  z-index: 2;
}

.home-page-main .app-links-section .rs .spec-desc.sb-1 {
  top: 76px;
  right: 26px;
}

.home-page-main .app-links-section .rs .spec-desc.sb-2 {
  bottom: 148px;
  right: 42px;
}

.home-page-main .app-links-section .rs .spec-desc.sb-3 {
  bottom: 50px;
  left: 22px;
  width: 280px;
}

.home-page-main .app-links-section .rs .spec-desc-text {
  color: rgba(0, 0, 51, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.home-page-main .questioning-section {
  padding: 36px 0 56px;
  background-color: #f8f8fa;
}

.home-page-main .questioning-section .home-page-section-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 24px;
}

.home-page-main .questioning-section .rs {
  padding-top: 115px;
  padding-left: 56px;
}

.home-page-main .questioning-section .rs .each-step .step-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 12px;
}

.home-page-main .questioning-section .rs .each-step .step-desc {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}

.home-page-main .questioning-section .rs .each-step .divider-h {
  width: 1px;
  height: 100%;
  background-color: #cbcbcb;
  left: 10px;
  bottom: 0;
  z-index: 3;
}

.home-page-main .questioning-section .rs .each-step:nth-last-of-type(1) .divider-h {
  top: 0;
  height: 10px;
}

.home-page-main .questioning-section .rs .each-step:nth-of-type(1) .divider-h {
  top: 12px;
}

.home-page-main .questioning-section [type='radio']:checked,
.home-page-main .questioning-section [type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

.home-page-main .questioning-section [type='radio']:checked + label,
.home-page-main .questioning-section [type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 64px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.home-page-main .questioning-section [type='radio']:not(:checked) + label:before {
  display: none;
}

.home-page-main .questioning-section [type='radio']:checked + label:before {
  z-index: 4;
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 21px;
  height: 21px;
  border: 2px solid #4643f0;
  border-radius: 100%;
  background: #fff;
}

.home-page-main .questioning-section [type='radio']:not(:checked) + label:after {
  z-index: 4;
  content: '';
  width: 11px;
  height: 11px;
  background: #cbcbcb;
  position: absolute;
  top: 9px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home-page-main .questioning-section [type='radio']:checked + label:after {
  z-index: 4;
  content: '';
  width: 11px;
  height: 11px;
  background: #4643f0;
  position: absolute;
  top: 9px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home-page-main .questioning-section [type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.home-page-main .online-class-section {
  padding: 55px 0 105px;
  background-color: #f8f8fa;
}

.home-page-main .online-class-section.section-2 {
  padding: 76px 0 105px;
}

.home-page-main .online-class-section.section-3 {
  padding: 103px 0 90px;
}

.home-page-main .online-class-section .home-page-section-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 24px;
  margin-bottom: 80px;
}

.home-page-main .online-class-section .rs {
  padding-top: 16px;
}

.home-page-main .online-class-section .rs .step-title {
  padding-left: 51px;
  font-size: 24px;
  line-height: 26px;
  color: #4643f0;
  margin-bottom: 42px;
}

.home-page-main .online-class-section .rs .each-step .step-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 12px 0;
}

.home-page-main .online-class-section .rs .each-step .divider-h {
  width: 1px;
  height: 100%;
  background-color: #cbcbcb;
  left: 10px;
  top: 0;
  z-index: 3;
}

.home-page-main .online-class-section .rs .each-step:nth-last-of-type(1) .divider-h {
  top: 0;
  height: 50%;
}

.home-page-main .online-class-section .rs .each-step:nth-of-type(1) .divider-h {
  top: 50%;
}

.home-page-main .online-class-section [type='radio']:checked,
.home-page-main .online-class-section [type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

.home-page-main .online-class-section [type='radio']:checked + label,
.home-page-main .online-class-section [type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 51px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.home-page-main .online-class-section [type='radio']:checked + label .step-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.home-page-main .online-class-section [type='radio']:not(:checked) + label:before {
  display: none;
}

.home-page-main .online-class-section [type='radio']:checked + label:before {
  z-index: 4;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border: 2px solid #4643f0;
  border-radius: 100%;
  background: #fff;
}

.home-page-main .online-class-section [type='radio']:not(:checked) + label:after {
  z-index: 4;
  content: '';
  width: 11px;
  height: 11px;
  background: #cbcbcb;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home-page-main .online-class-section [type='radio']:checked + label:after {
  z-index: 4;
  content: '';
  width: 11px;
  height: 11px;
  background: #4643f0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home-page-main .online-class-section [type='radio']:checked + label:after {
  opacity: 1;
}

.home-page-main .lib-n-supplies-section {
  background: #f8f8fa;
  padding: 46px 0;
}

.home-page-main .lib-n-supplies-section .home-page-section-title {
  font-size: 36px;
  line-height: 56px;
  color: #1b1c20;
  margin-bottom: 32px;
}

.home-page-main .lib-n-supplies-section .block-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 14px;
}

.home-page-main .lib-n-supplies-section .block-card {
  background-color: #fff;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: -4px -4px;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 0px 75px 75px 75px;
  min-height: 400px;
  padding-bottom: 24px;
}

.home-page-main .lib-n-supplies-section .block-card .list-text {
  padding: 18px;
  min-height: 126px;
}

.home-page-main .lib-n-supplies-section .block-card .list-text .text-item {
  position: relative;
  padding-left: 15px;
  line-height: 30px;
}

.home-page-main .lib-n-supplies-section .block-card .list-text .text-item::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-page-main .teachers-section {
  background: #f8f8fa;
  padding: 90px 0;
}

.home-page-main .teachers-section .home-page-section-title {
  font-size: 36px;
  line-height: 56px;
  color: #1b1c20;
  margin-bottom: 32px;
}

.home-page-main .teachers-section .teachers-wr {
  gap: 57px;
}

.home-page-main .teachers-section .each-teacher-card {
  border-radius: 104px 104px 0px 104px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  padding: 24px;
  max-width: 228px;
}

.home-page-main .teachers-section .each-teacher-card .teacher-avatar {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 18px;
  -o-object-position: top;
     object-position: top;
}

.home-page-main .teachers-section .each-teacher-card .teacher-name {
  color: #000033;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 11px;
}

.home-page-main .teachers-section .each-teacher-card .teacher-desc {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 7px;
}

.home-page-main .teachers-section .each-teacher-card .teacher-pos {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.home-page-main .teachers-section .each-teacher-card.tc-1 .teacher-avatar {
  background-color: #fed5db;
}

.home-page-main .teachers-section .each-teacher-card.tc-2 .teacher-avatar {
  background-color: #ffdfc0;
}

.home-page-main .teachers-section .each-teacher-card.tc-3 .teacher-avatar {
  background-color: #c0eade;
}

.home-page-main .teachers-section .each-teacher-card.tc-4 .teacher-avatar {
  background-color: #d0d4f9;
}

.home-page-main .teachers-section .each-teacher-card.tc-5 .teacher-avatar {
  background-color: #b5e3f3;
}

.home-page-main .comments-section {
  background: #fb8e0b;
  padding: 56px 0;
  background-repeat: no-repeat;
}

.home-page-main .comments-section .home-page-section-title {
  font-size: 36px;
  line-height: 56px;
  color: #1b1c20;
  margin-bottom: 53px;
}

.home-page-main .comments-section .comment-card .text-block {
  max-width: 600px;
  border-radius: 14px;
  padding: 30px 42px;
  position: relative;
}

.home-page-main .comments-section .comment-card .text-block .title {
  font-size: 20px;
  line-height: 28px;
  color: #fd6003;
}

.home-page-main .comments-section .comment-card .text-block .desc {
  font-size: 18px;
  line-height: 28px;
  color: rgba(56, 58, 71, 0.7);
}

.home-page-main .comments-section .comment-card .text-block::after {
  position: absolute;
  content: '';
  border-top: 14px solid #fff;
  border-left: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid transparent;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}

.home-page-main .comments-section .comment-card .user-block {
  gap: 18px;
}

.home-page-main .comments-section .comment-card .user-block .user-info .user-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.home-page-main .comments-section .comment-card .user-block .user-info .user-pos {
  font-size: 14px;
  line-height: 24px;
}

.home-page-main .news-section {
  background: #f8f8fa;
  padding: 72px 0 90px;
  background-repeat: no-repeat;
}

.home-page-main .news-section .home-page-section-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 44px;
}

.home-page-main .news-section .list-news-logo {
  gap: 64px;
}

.home-page-main .news-section .list-news-logo .news-logo-img {
  max-height: 68px;
}
/*# sourceMappingURL=home.css.map */