.home-page-main {
	.home-banner {
		height: 580px;
		&-bg {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.banner-tb,
		.banner-mb {
			display: none;
		}
	}
	//
	.app-links-section {
		padding: 125px 0 60px 0;
		background-repeat: no-repeat;
		background-size: contain;
		.ls {
			.app-links-title {
				font-weight: 800;
				font-size: 64px;
				line-height: 65px;
				margin-bottom: 25px;
			}
			.app-links-desc {
				font-size: 24px;
				line-height: 28px;
				color: #616161;
			}
			.links-btn {
				gap: 24px;
				margin-top: 33px;
				margin-bottom: 80px;
			}
		}
		.rs {
			.absolute-img {
				margin-left: 40px;
			}
			.spec-desc {
				background: #ffffff;
				box-shadow: 0px 10px 25px rgba(2, 147, 52, 0.1);
				border-radius: 18px;
				gap: 18px;
				padding: 20px 16px;
				width: 267px;
				z-index: 2;
				&.sb-1 {
					top: 76px;
					right: 26px;
				}
				&.sb-2 {
					bottom: 148px;
					right: 42px;
				}
				&.sb-3 {
					bottom: 50px;
					left: 22px;
					width: 280px;
				}

				&-text {
					color: rgba(0, 0, 51, 0.85);
					font-weight: 600;
					font-size: 20px;
					line-height: 26px;
				}
			}
		}
	}
	//
	.questioning-section {
		padding: 36px 0 56px;
		background-color: #f8f8fa;
		.home-page-section-title {
			font-weight: 800;
			font-size: 36px;
			line-height: 24px;
		}
		.rs {
			padding-top: 115px;
			padding-left: 56px;
			.each-step {
				.step-title {
					font-weight: 600;
					font-size: 24px;
					line-height: 26px;
					margin-bottom: 12px;
				}
				.step-desc {
					font-size: 18px;
					line-height: 26px;
					margin-bottom: 40px;
				}
				.divider-h {
					width: 1px;
					height: 100%;
					background-color: #cbcbcb;
					left: 10px;
					bottom: 0;
					z-index: 3;
				}
				&:nth-last-of-type(1) {
					.divider-h {
						top: 0;
						height: 10px;
					}
				}
				&:nth-of-type(1) {
					.divider-h {
						top: 12px;
					}
				}
			}
		}
		[type='radio']:checked,
		[type='radio']:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		[type='radio']:checked + label,
		[type='radio']:not(:checked) + label {
			position: relative;
			padding-left: 64px;
			cursor: pointer;
			line-height: 20px;
			display: inline-block;
			color: #666;
		}
		[type='radio']:not(:checked) + label:before {
			display: none;
		}
		[type='radio']:checked + label:before {
			z-index: 4;
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			width: 21px;
			height: 21px;
			border: 2px solid #4643f0;
			border-radius: 100%;
			background: #fff;
		}
		[type='radio']:not(:checked) + label:after {
			z-index: 4;
			content: '';
			width: 11px;
			height: 11px;
			background: #cbcbcb;
			position: absolute;
			top: 9px;
			left: 5px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		[type='radio']:checked + label:after {
			z-index: 4;
			content: '';
			width: 11px;
			height: 11px;
			background: #4643f0;
			position: absolute;
			top: 9px;
			left: 5px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		[type='radio']:checked + label:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
	//
	.online-class-section {
		padding: 55px 0 105px;
		background-color: #f8f8fa;
		&.section-2 {
			padding: 76px 0 105px;
		}
		&.section-3 {
			padding: 103px 0 90px;
		}
		.radio-banner {
			filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
			border-radius: 16px;
		}
		.home-page-section-title {
			font-weight: 800;
			font-size: 36px;
			line-height: 24px;
			margin-bottom: 80px;
		}
		.rs {
			padding-top: 16px;
			.step-title {
				padding-left: 51px;
				font-size: 24px;
				line-height: 26px;
				color: #4643f0;
				margin-bottom: 42px;
			}
			.each-step {
				.step-text {
					font-weight: 400;
					font-size: 18px;
					line-height: 26px;
					margin: 0;
					padding: 12px 0;
				}
				.divider-h {
					width: 1px;
					height: 100%;
					background-color: #cbcbcb;
					left: 10px;
					top: 0;
					z-index: 3;
				}
				&:nth-last-of-type(1) {
					.divider-h {
						top: 0;
						height: 50%;
					}
				}
				&:nth-of-type(1) {
					.divider-h {
						top: 50%;
					}
				}
			}
		}
		[type='radio']:checked,
		[type='radio']:not(:checked) {
			position: absolute;
			left: -9999px;
		}
		[type='radio']:checked + label,
		[type='radio']:not(:checked) + label {
			position: relative;
			padding-left: 51px;
			cursor: pointer;
			line-height: 20px;
			display: inline-block;
			color: #666;
		}
		[type='radio']:checked + label {
			.step-text {
				font-weight: 700;
				font-size: 18px;
				line-height: 26px;
			}
		}
		[type='radio']:not(:checked) + label:before {
			display: none;
		}
		[type='radio']:checked + label:before {
			z-index: 4;
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 21px;
			height: 21px;
			border: 2px solid #4643f0;
			border-radius: 100%;
			background: #fff;
		}
		[type='radio']:not(:checked) + label:after {
			z-index: 4;
			content: '';
			width: 11px;
			height: 11px;
			background: #cbcbcb;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 5px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		[type='radio']:checked + label:after {
			z-index: 4;
			content: '';
			width: 11px;
			height: 11px;
			background: #4643f0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 5px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		[type='radio']:checked + label:after {
			opacity: 1;
		}
	}
	//
	.lib-n-supplies-section {
		background: #f8f8fa;
		padding: 46px 0;
		.home-page-section-title {
			font-size: 36px;
			line-height: 56px;
			color: #1b1c20;
			margin-bottom: 32px;
		}
		.block-title {
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 14px;
		}
		.block-card {
			background-color: #fff;
			background-size: 110%;
			background-repeat: no-repeat;
			background-position: -4px -4px;
			box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
			border-radius: 0px 75px 75px 75px;
			min-height: 400px;
			padding-bottom: 24px;
			.list-text {
				padding: 18px;
				min-height: 126px;
				.text-item {
					position: relative;
					padding-left: 15px;
					line-height: 30px;

					&::before {
						content: '';
						position: absolute;
						width: 6px;
						height: 6px;
						border-radius: 100%;
						background-color: #fff;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
	//
	.teachers-section {
		background: #f8f8fa;
		padding: 90px 0;
		.home-page-section-title {
			font-size: 36px;
			line-height: 56px;
			color: #1b1c20;
			margin-bottom: 32px;
		}
		.teachers-wr {
			gap: 57px;
		}
		.each-teacher-card {
			height: 350px;
			border-radius: 104px 104px 0px 104px;
			background: #ffffff;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
			padding: 24px;
			max-width: 228px;
			margin-bottom: 15px;
			margin-top: 15px;
			.teacher-avatar {
				width: 180px;
				aspect-ratio: 1;
				object-fit: cover;
				margin-bottom: 18px;
				object-position: top;
			}
			.teacher-name {
				color: #000033;
				font-weight: 600;
				line-height: 19px;
				margin-bottom: 11px;
			}
			.teacher-desc {
				font-size: 14px;
				line-height: 16px;
				color: #666666;
				margin-bottom: 7px;
			}
			.teacher-pos {
				font-size: 14px;
				line-height: 16px;
				color: #666666;
			}
			&.tc-1 {
				.teacher-avatar {
					background-color: #fed5db;
				}
			}
			&.tc-2 {
				.teacher-avatar {
					background-color: #ffdfc0;
				}
			}
			&.tc-3 {
				.teacher-avatar {
					background-color: #c0eade;
				}
			}
			&.tc-4 {
				.teacher-avatar {
					background-color: #d0d4f9;
				}
			}
			&.tc-5 {
				.teacher-avatar {
					background-color: #b5e3f3;
				}
			}
		}
	}
	//
	.comments-section {
		background: #fb8e0b;
		padding: 56px 0;
		background-repeat: no-repeat;

		.home-page-section-title {
			font-size: 36px;
			line-height: 56px;
			color: #1b1c20;
			margin-bottom: 53px;
		}
		.comment-card {
			.text-block {
				max-width: 600px;
				border-radius: 14px;
				padding: 30px 42px;
				position: relative;
				height: 270px;
				.title {
					font-size: 20px;
					line-height: 28px;
					color: #fd6003;
				}
				.desc {
					font-size: 18px;
					line-height: 28px;
					color: rgba(56, 58, 71, 0.7);
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 5; /* number of lines to show */
					line-clamp: 5;
					-webkit-box-orient: vertical;
				}
				&::after {
					position: absolute;
					content: '';
					border-top: 14px solid #fff;
					border-left: 14px solid transparent;
					border-bottom: 14px solid transparent;
					border-right: 14px solid transparent;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%) translateY(100%);
				}
			}
			.user-block {
				gap: 18px;
				.user-info {
					.user-name {
						font-weight: 600;
						font-size: 18px;
						line-height: 30px;
					}
					.user-pos {
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
		}
	}
	//
	.news-section {
		background: #f8f8fa;
		padding: 72px 0 90px;
		background-repeat: no-repeat;

		.home-page-section-title {
			font-weight: 800;
			font-size: 36px;
			line-height: 26px;
			margin-bottom: 44px;
		}
		.list-news-logo {
			gap: 64px;
			.news-logo-img {
				max-height: 68px;
			}
		}
	}
}

@media only screen and (max-width: 1400px) {
	.home-page-main {
		.home-banner {
			height: fit-content;
		}
		//
		.news-section {
			.list-news-logo {
				gap: 0px;
				justify-content: space-between;
				.news-logo-img {
					max-height: 68px;
				}
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.home-page-main {
		.news-section {
			display: none;
		}
		.home-banner {
			.banner-ds,
			.banner-mb {
				display: none;
			}
			.banner-tb {
				display: block;
			}
		}
		//
		.app-links-section {
			padding: 40px 0 60px 0;
			.ls,
			.rs {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.ls {
				.app-links-title {
					font-size: 48px;
					line-height: 65px;
					margin-bottom: 10px;
				}
				.app-links-desc {
					font-size: 20px;
					margin-bottom: 0;
				}
				.links-btn {
					justify-content: center;
					margin-bottom: 55px;
				}
			}
			.rs {
				.absolute-img {
					width: 420px;
				}
				.spec-desc {
					width: 330px;
					&.sb-1 {
						top: 55px;
						right: 76px;
						padding: 30px 16px;
					}
					&.sb-2 {
						bottom: 88px;
						right: 96px;
					}
					&.sb-3 {
						bottom: 50px;
						left: 22px;
						width: 280px;
					}
					&-text {
						font-size: 18px;
						line-height: 26px;
						br {
							display: none;
						}
					}
				}
			}
		}

		//
		.questioning-section {
			padding: 36px 0 25px;
			.home-page-section-title {
				font-size: 28px;
			}
			.rs {
				padding-top: 25px;
				padding-left: 36px;
				.each-step {
					.step-title {
						font-size: 18px;
						line-height: 26px;
						margin-bottom: 8px;
					}
					.step-desc {
						font-weight: 400;
						font-size: 16px;
						line-height: 26px;
						margin-bottom: 24px;
					}
					.divider-h {
						width: 1px;
						height: 100%;
						background-color: #cbcbcb;
						top: 15px;
						bottom: 0;
						z-index: 3;
					}
					&:nth-last-of-type(1) {
						.divider-h {
							top: 15px;
							height: 10px;
						}
					}
					&:nth-of-type(1) {
						.divider-h {
							top: 27px;
						}
					}
				}
			}
			[type='radio']:checked + label,
			[type='radio']:not(:checked) + label {
				padding-left: 34px;
			}
			[type='radio']:checked + label:before {
				z-index: 4;
				content: '';
				position: absolute;
				left: 0;
				top: 19px;
				width: 21px;
				height: 21px;
				border: 2px solid #4643f0;
				border-radius: 100%;
				background: #fff;
			}
			[type='radio']:not(:checked) + label:after {
				z-index: 4;
				content: '';
				width: 11px;
				height: 11px;
				background: #cbcbcb;
				position: absolute;
				top: 24px;
				left: 5px;
				border-radius: 100%;
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
			[type='radio']:checked + label:after {
				z-index: 4;
				content: '';
				width: 11px;
				height: 11px;
				background: #4643f0;
				position: absolute;
				top: 24px;
				left: 5px;
				border-radius: 100%;
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
		}

		//
		.online-class-section {
			padding: 32px 0 50px;
			&.section-2 {
				padding: 45px 0 40px;
				.ls {
					order: 1;
					margin-top: 32px !important;
				}
			}
			&.section-3 {
				padding: 32px 0 40px;
				.ls {
					margin-top: 32px !important;
				}
			}
			.rs,
			.ls {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.home-page-section-title {
				font-weight: 800;
				font-size: 28px;
				line-height: 28px;
				margin-bottom: 32px;
			}
			.rs {
				padding-top: 0;
				.step-title {
					padding-left: 0;
					font-weight: 700;
					font-size: 18px;
					line-height: 26px;
					margin-bottom: 20px;
				}
				.each-step {
					.step-text {
						font-weight: 400;
						font-size: 16px;
						line-height: 26px;
					}
				}
			}
			.ls {
				margin-top: 60px;
			}
			[type='radio']:checked + label {
				.step-text {
					font-weight: 700;
					font-size: 16px;
					line-height: 26px;
				}
			}
		}
		//
		.lib-n-supplies-section {
			padding: 24px 0 0px;
			.each-block {
				flex: 0 0 50%;
				max-width: 50%;
				margin: auto;
				margin-bottom: 40px;
				.block-title {
					text-align: left !important;
				}
			}
		}
		//
		.teachers-section {
			padding: 50px 0;
			.each-teacher-card {
				height: 360px;
				width: 100%;
				max-width: 300px;
			}
		}
		//
		.comments-section {
			padding: 36px 0;
			.home-page-section-title {
				font-size: 28px;
				margin-bottom: 26px;
			}
			.cmt-col {
				.comment-card {
					.text-block {
						padding: 20px 10px 18px 10px;
						height: 240px;
					}
					.title {
						font-size: 16px;
						margin-bottom: 6px !important;
					}
					.desc {
						font-size: 16px;
						line-height: 28px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 520px) {
	.home-page-main {
		.news-section {
			padding: 32px 0 60px;
			display: block;
			.home-page-section-title {
				font-size: 24px;
				line-height: 26px;
				margin-bottom: 20px;
			}
		}
		.home-banner {
			.banner-ds,
			.banner-tb {
				display: none;
			}
			.banner-mb {
				display: block;
			}
		}
		//
		.app-links-section {
			padding: 22px 0 40px 0;
			.ls,
			.rs {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.ls {
				.app-links-title {
					font-size: 32px;
					line-height: 32px;
					margin-bottom: 10px;
				}
				.app-links-desc {
					font-size: 16px;
					line-height: 16px;
					margin-bottom: 0;
				}
				.links-btn {
					justify-content: center;
					margin-bottom: 40px;
					margin-top: 16px;
					img {
						width: 120px;
						height: auto;
					}
				}
			}
			.rs {
				.absolute-img {
					min-width: 182px;
					width: 60%;
					margin-left: 0;
				}
				.spec-desc {
					width: 170px;
					padding: 8px;
					gap: 8px;
					border-radius: 24px !important;
					.spec-desc-img {
						border-radius: 100%;
						width: 24px;
					}
					&.sb-1 {
						top: 25px;
						right: 66px;
						padding: 8px;
					}
					&.sb-2 {
						bottom: 56px;
						right: 66px;
						width: 180px;
					}
					&.sb-3 {
						bottom: 50px;
						left: 22px;
						width: 157px;
					}
					&-text {
						font-size: 12px;
						line-height: 14px;
						br {
							display: none;
						}
					}
				}
			}
		}
		//
		.questioning-section {
			padding: 23px 0 25px;
			.home-page-section-title {
				font-size: 24px;
			}
			.rs,
			.ls {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.ls {
				order: 1;
				.radio-banner {
					margin-left: 0 !important;
				}
			}
			.rs {
				padding-left: 10px;
				.each-step {
					.step-title {
						font-size: 16px;
						line-height: 16px;
						margin-bottom: 6px;
					}
					.step-desc {
						font-size: 14px;
						line-height: 18px;
					}
					.divider-h {
						width: 1px;
						height: 100%;
						background-color: #cbcbcb;
						left: 10px;
						bottom: 0;
						z-index: 3;
					}
					&:nth-last-of-type(1) {
						.divider-h {
							top: 0;
							height: 10px;
						}
					}
					&:nth-of-type(1) {
						.divider-h {
							top: 12px;
						}
					}
				}
			}
			[type='radio']:checked + label:before {
				z-index: 4;
				content: '';
				position: absolute;
				left: 0;
				top: 4px;
				width: 21px;
				height: 21px;
				border: 2px solid #4643f0;
				border-radius: 100%;
				background: #fff;
			}
			[type='radio']:not(:checked) + label:after {
				z-index: 4;
				content: '';
				width: 11px;
				height: 11px;
				background: #cbcbcb;
				position: absolute;
				top: 9px;
				left: 5px;
				border-radius: 100%;
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
			[type='radio']:checked + label:after {
				z-index: 4;
				content: '';
				width: 11px;
				height: 11px;
				background: #4643f0;
				position: absolute;
				top: 9px;
				left: 5px;
				border-radius: 100%;
				-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
		}
		//
		.online-class-section {
			padding: 32px 0 50px;
			&.section-2 {
				padding: 45px 0 40px;
				.ls {
					order: 1;
					margin-top: 32px !important;
				}
			}
			&.section-3 {
				padding: 32px 0 40px;
				.ls {
					margin-top: 32px !important;
				}
			}
			.home-page-section-title {
				font-size: 24px;
				line-height: 24px;
				margin-bottom: 24px;
			}
			.rs {
				padding-top: 0;
				.step-title {
					font-size: 16px;
					line-height: 18px;
					margin-bottom: 20px;
				}
				.each-step {
					.step-text {
						font-size: 14px;
						line-height: 18px;
					}
				}
			}
			.ls {
				margin-top: 30px;
			}
			[type='radio'] + label {
				padding-left: 40px !important;
			}
		}
		//
		.lib-n-supplies-section {
			padding: 18px 0 0px;
			.home-page-section-title {
				font-weight: 700;
				font-size: 24px;
				line-height: 24px;
				margin-bottom: 24px;
			}
			.each-block {
				flex: 0 0 100%;
				max-width: 100%;
				margin: auto;
				margin-bottom: 24px;
				.block-title {
					text-align: left !important;
				}
			}
		}
		//

		.app-links-section {
			padding: 22px 0 40px 0;
			.ls,
			.rs {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.ls {
				.app-links-title {
					font-size: 32px;
					line-height: 32px;
					margin-bottom: 10px;
				}
				.app-links-desc {
					font-size: 16px;
					line-height: 16px;
					margin-bottom: 0;
				}
				.links-btn {
					justify-content: center;
					margin-bottom: 40px;
					margin-top: 16px;
					img {
						width: 120px;
						height: auto;
					}
				}
			}
			.rs {
				.absolute-img {
					min-width: 182px;
					width: 60%;
					margin-left: 0;
				}
				.spec-desc {
					width: 170px;
					padding: 8px;
					gap: 8px;
					border-radius: 24px !important;
					.spec-desc-img {
						border-radius: 100%;
						width: 24px;
					}
					&.sb-1 {
						top: 25px;
						right: 30px;
						padding: 8px;
					}
					&.sb-2 {
						bottom: 46px;
						right: 30px;
						width: 180px;
					}
					&.sb-3 {
						bottom: 50px;
						left: 22px;
						width: 157px;
					}
					&-text {
						font-size: 12px;
						line-height: 14px;
						br {
							display: none;
						}
					}
				}
			}
		}
		.teachers-section {
			padding-top: 24px;
			.home-page-section-title {
				font-weight: 700;
				font-size: 24px;
				line-height: 24px;
				margin-bottom: 17px;
			}
			.each-teacher-card {
				margin: 15px auto;
			}
		}
		//
		.comments-section {
			.cmt-col {
				.desc {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 5; /* number of lines to show */
					line-clamp: 5;
					-webkit-box-orient: vertical;
				}
			}
			.cm-swiper-pagination {
				.swiper-pagination-bullet {
					background-color: #fff !important;
				}
			}
		}
		//
		.lib-n-supplies-section {
			.block-card {
				min-height: 375px;
			}
		}
	}
}

@media only screen and (max-width: 460px) {
	.home-page-main {
		//
		.app-links-section {
			padding: 22px 0 40px 0;
			.ls,
			.rs {
				flex: 0 0 100%;
				max-width: 100%;
			}
			.ls {
				.app-links-title {
					font-size: 32px;
					line-height: 32px;
					margin-bottom: 10px;
				}
				.app-links-desc {
					font-size: 16px;
					line-height: 16px;
					margin-bottom: 0;
				}
				.links-btn {
					justify-content: center;
					margin-bottom: 40px;
					margin-top: 16px;
					img {
						width: 120px;
						height: auto;
					}
				}
			}
			.rs {
				.absolute-img {
					min-width: 182px;
					width: 60%;
					margin-left: 0;
				}
				.spec-desc {
					width: 170px;
					padding: 8px;
					gap: 8px;
					border-radius: 24px !important;
					.spec-desc-img {
						border-radius: 100%;
						width: 24px;
					}
					&.sb-1 {
						top: 25px;
						right: 38px;
						padding: 8px;
					}
					&.sb-2 {
						bottom: 46px;
						right: 38px;
						width: 180px;
					}
					&.sb-3 {
						bottom: 50px;
						left: 22px;
						width: 157px;
					}
					&-text {
						font-size: 12px;
						line-height: 14px;
						br {
							display: none;
						}
					}
				}
			}
		}
		//
		.lib-n-supplies-section {
			.block-card {
				min-height: 340px;
			}
		}
	}
}
