// VARIABLES
$primaryColor: #00c2c5;
$appBG: #fff;
$blackPrimary: #333333;

* {
	padding: 0;
	margin: 0;
	border-spacing: 0;
	scroll-behavior: smooth;
	&:not(i) {
		font-family: 'Roboto', sans-serif;
	}
}
body {
	overflow-x: hidden !important;
	background-color: $appBG;
	*:not(i) {
		font-family: 'Sarabun', sans-serif;
	}
	figure {
		margin: 0;
	}
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.show-on-mobile {
		display: none !important;
	}
	.hide-on-mobile-flex {
		display: flex !important;
	}
}
.mw-100 {
	max-width: 100%;
}
.pointer {
	cursor: pointer !important;
}
.text-black-prim {
	color: $blackPrimary !important;
}
@for $i from 10 through 32 {
	.font-size-#{$i} {
		font-size: #{$i}px !important;
	}
}
@for $i from 1 through 4 {
	.limit-line-#{$i} {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: #{$i};
		line-clamp: #{$i};
		-webkit-box-orient: vertical;
	}
}
// BS4 OVERWRITE

.btn-no-outline {
	&:focus,
	&:active,
	&:focus-within {
		outline-color: transparent;
		box-shadow: none;
	}
}
// SHARED STYLE

// FOOTER

.show-on-mobile-flex {
	display: none !important;
}

// REPONSIVE
@media only screen and (min-width: 1400px) {
	body {
		.container {
			min-width: 1380px;
		}
	}
}
@media only screen and (min-width: 1200px) {
	body {
		.container {
			min-width: 1280px;
		}
		.footer-main__container {
			min-width: 1280px;
		}
		.copyright-footer {
			min-width: 1280px;
		}
	}
}
@media only screen and (min-width: 860px) {
	body {
		.container {
			min-width: 820px;
		}
		.footer-main__container {
			min-width: 820px;
		}
		.copyright-footer {
			min-width: 820px;
		}
	}
}

@media only screen and (max-width: 992px) {
	body .container {
		padding: 0;
	}
	.show-lower-991 {
		display: block !important;
	}
	.hide-lower-991 {
		display: none !important;
	}
}

@media only screen and (max-width: 560px) {
	body {
		.show-on-mobile {
			display: block !important;
		}
		.show-on-mobile-flex {
			display: flex !important;
		}
		.hide-on-mobile-flex {
			display: none !important;
		}
		.container-fluid {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.ft-divider-mb {
			border-top: 1px solid #a8a8a8;
		}
	}
	.hide-on-mobile {
		display: none !important;
	}
}
@media only screen and (max-width: 460px) {
}
