.modal-title{
    line-height: 30px;
}
.modal-header{
    padding: 0;
    padding-bottom: 23px;
}
.modal-content{
    width: 90%;
}
.library-info{
    line-height: 27px;
}
.descript-library-info{
    line-height: 26px;
}
.close{
    right: 20px;
    top: 20px;
    position: absolute;
}
.note-do-excise{
    margin-top: 12px;
    padding: 0px 16px;
    line-height: 23px;
    margin-bottom: 0;
}
button.do-excise{
    border-radius: 20px;
    padding: 10px 42px 8px;
    line-height: 20px;
    border: 1px solid #4086FF;
}



