.my-lib-inner-section {
  padding-top: 36px;
  padding-bottom: 144px;
}

.my-lib-inner-section .page-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #262f3e;
  margin-bottom: 28px;
}

.my-lib-inner-section .my-lib-tabs {
  padding: 33px 22px 50px;
  background: #ffffff;
  border-radius: 8px;
}

.my-lib-inner-section .my-lib-tabs .tabs-controller .list-tabs-controller {
  border-bottom: 1px solid #e6e6e6;
}

.my-lib-inner-section .my-lib-tabs .tabs-controller .nav-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  position: relative;
  color: #6f6f6f;
  margin-right: 44px;
  padding: 17px 4px;
}

.my-lib-inner-section .my-lib-tabs .tabs-controller .nav-link::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
}

.my-lib-inner-section .my-lib-tabs .tabs-controller .nav-link.active {
  font-weight: 500;
  color: #4086ff;
  background-color: #fff;
}

.my-lib-inner-section .my-lib-tabs .tabs-controller .nav-link.active::after {
  background-color: #4086ff;
}

.my-lib-inner-section .my-lib-tabs .tab-types-dropdown {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  min-width: 180px;
}

.my-lib-inner-section .my-lib-tabs .tab-types-dropdown .selected-data {
  line-height: 19px;
  height: 40px;
}

.my-lib-inner-section .my-lib-tabs .tab-types-dropdown .select-items {
  max-width: 100%;
  min-width: 180px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
}

.my-lib-inner-section .my-lib-tabs .tab-types-dropdown .dropdown-item {
  max-width: 100%;
  white-space: break-spaces;
  line-height: 19px;
  color: #a5a5a5;
}

.my-lib-inner-section .my-lib-tabs .tab-types-dropdown .dropdown-item.on-active {
  font-weight: 500;
  color: #333333;
}

.my-lib-inner-section .my-lib-tabs .tab-content {
  padding-top: 27px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block {
  margin-bottom: 21px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .m-type-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #888888;
  margin-bottom: 20px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .btn-join {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #449e2d;
  width: 80px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-img-top {
  aspect-ratio: 327 / 193;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .btn-unfollow {
  display: none;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod.prod-followed .btn-follow {
  display: none;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod.prod-followed .btn-unfollow {
  display: block;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card {
  overflow: hidden;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  position: relative;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card.card-small {
  border-color: transparent;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card .follow-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card:not(.card-small):before {
  content: '';
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.48)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 8px 8px 0px 0px;
  z-index: 2;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-body {
  padding: 13px !important;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-body .prod-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-body .prod-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-body .prod-users .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #777777;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-body .prod-video-live-stream-counter,
.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-body .prod-video-counter {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-body .prod-video-live-stream-counter {
  margin-bottom: 0;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .card-body .small-tag {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 19.5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
  padding: 2px 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-divider .card-body .prod-title {
  margin-bottom: 10px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-creator-tag .card-body .creator-tag {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6b6d70;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-creator-tag .card-body .creator-tag .creator-name {
  color: #4086ff;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-mcq .card-body .small-tag,
.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-mcq .card-body .creator-tag {
  margin: 0;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-mcq .card-body .mcq-time-tag,
.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-mcq .card-body .mcq-count-source {
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-mcq .card-body .mcq-time-tag .mcq-time,
.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-mcq .card-body .mcq-time-tag .mcq-count,
.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-mcq .card-body .mcq-count-source .mcq-time,
.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod .c-mcq .card-body .mcq-count-source .mcq-count {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod.card-list-view .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 270px;
  border-radius: 4px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod.card-list-view .card:not(.card-small):before {
  display: none;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod.card-list-view .card .preview-image {
  position: relative;
  border-radius: 3px;
  min-width: 270px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .m-type-block .card-prod.card-list-view .card .preview-image::before {
  content: '';
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.48)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 8px 8px 0px 0px;
  z-index: 2;
}

.my-lib-inner-section .my-lib-tabs .tab-content .folder-title {
  color: #172948;
}

.my-lib-inner-section .my-lib-tabs .tab-content .folder-title .folder-counter {
  color: #777777;
}

.my-lib-inner-section .my-lib-tabs .tab-content .document-item {
  padding: 30px;
  border-radius: 8px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .expand-wr {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.my-lib-inner-section .my-lib-tabs .tab-content .list-group {
  padding: 0px 44px;
  border-top: 1px solid #f1f1f1;
}

.my-lib-inner-section .my-lib-tabs .tab-content .btn-readmore {
  font-weight: 400;
  font-size: 16px;
  color: #4086ff;
  padding: 20px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .document-item-xp {
  padding: 24px 0;
}

.my-lib-inner-section .my-lib-tabs .tab-content .document-item-xp:nth-of-type(1) {
  border-bottom: 1px solid #f1f1f1;
}

.my-lib-inner-section .my-lib-tabs .tab-content .document-item-xp .doc-info .doc-name {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.my-lib-inner-section .my-lib-tabs .tab-content .document-item-xp .small-tag {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 19.5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
  padding: 5px 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.my-lib-inner-section .my-lib-tabs .tab-content .document-item-xp .creator-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
  margin-right: 120px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .expand-item[aria-expanded='true'] .expand-icon {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.my-lib-inner-section .my-lib-tabs .tab-content .tab-mcq .document-item-xp .rs-actions .grade {
  line-height: 19px;
  color: #888888;
  width: 95px;
  margin-right: 70px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .tab-mcq .document-item-xp .rs-actions .marks {
  font-weight: 500;
  color: #ef3131;
}

.my-lib-inner-section .my-lib-tabs .tab-content .tab-mcq .document-item-xp .rs-actions .action {
  line-height: 19px;
  width: 65px;
  margin-right: 80px;
}

.my-lib-inner-section .my-lib-tabs .tab-content .tab-mcq .document-item-xp .rs-actions .action.re-do {
  color: #4086ff;
}

.my-lib-inner-section .my-lib-tabs .tab-content .tab-mcq .document-item-xp .rs-actions .action.continue {
  color: #449e2d;
}
/*# sourceMappingURL=my-lib.css.map */