.breadcrumb {
  background-color: transparent;
}

.breadcrumb .breadcrumb-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
}

.breadcrumb .breadcrumb-item a {
  color: inherit;
}

ol.breadcrumb {
  margin-bottom: 9px;
}

.video-detail-inner-section {
  padding: 36px 0 97px;
}

.video-detail-inner-section .video-detail-content {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 21px;
}

.video-detail-inner-section .video-detail-row {
  margin-top: 15px;
}

.video-detail-inner-section .statistical-content {
  gap: 38px;
}

.video-detail-inner-section .statistical-content .statistical-item {
  gap: 6px;
  color: #888888;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.video-detail-inner-section .statistical-content .statistical-item .follow-icon-active {
  display: none;
}

.video-detail-inner-section .statistical-content .statistical-item.is-active {
  color: #4086ff;
}

.video-detail-inner-section .statistical-content .statistical-item.is-active .follow-icon-active {
  display: block;
}

.video-detail-inner-section .statistical-content .statistical-item.is-active .follow-icon-unactive {
  display: none;
}

.video-detail-inner-section .video-tab {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.video-detail-inner-section .video-tab .video-sdk {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.video-detail-inner-section .video-tab .video-sdk .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 70px;
}

.video-detail-inner-section .video-tab .video-name {
  padding: 24px;
}

.video-detail-inner-section .video-tab .video-name .v-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.video-detail-inner-section .video-tab .video-name .action {
  gap: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #6b6d70;
}

.video-detail-inner-section .control-video-tabs {
  margin-top: 16px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.video-detail-inner-section .control-video-tabs .list-tabs {
  padding: 0 45px;
  border-bottom: 1px solid #eeeeee;
}

.video-detail-inner-section .control-video-tabs .list-tabs .nav-item {
  padding-top: 6px;
}

.video-detail-inner-section .control-video-tabs .list-tabs .nav-item .nav-link {
  padding: 14px;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 0;
  color: #9d9d9d;
}

.video-detail-inner-section .control-video-tabs .list-tabs .nav-item .nav-link.active {
  color: #4086ff;
  border-bottom: 2px solid #4086ff;
}

.video-detail-inner-section .control-video-tabs .tab-content {
  color: #262f3e;
}

.video-detail-inner-section .control-video-tabs .tab-content .tab-pane {
  padding: 32px 32px;
}

.video-detail-inner-section .control-video-tabs .tab-content .tab-pane.comment {
  padding: 20px 32px 32px;
}

.video-detail-inner-section .control-video-tabs .tab-content .tab-pane .tab-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #262f3e;
}

.video-detail-inner-section .control-video-tabs .tab-content .content-list {
  padding-left: 32px;
  list-style-type: none;
}

.video-detail-inner-section .control-video-tabs .tab-content .extra-block {
  padding: 8px 17px;
  background: #f7f7f7;
  border-radius: 8px;
}

.video-detail-inner-section .control-video-tabs .tab-content .extra-block .type-n-text {
  gap: 8px;
}

.video-detail-inner-section .control-video-tabs .tab-content .extra-block .mcq-counter {
  font-weight: 500;
  font-size: 18px;
}

.video-detail-inner-section .control-video-tabs .tab-content .extra-block .mcq-counter .sc {
  color: #7bbf6a;
}

.video-detail-inner-section .control-video-tabs .tab-content .typing-block {
  gap: 4px;
  background: #f4f4f4;
  border-radius: 57px;
  padding: 14px 21px;
  margin-bottom: 16px;
}

.video-detail-inner-section .control-video-tabs .tab-content .typing-block input {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.video-detail-inner-section .control-video-tabs .tab-content .typing-block input::-webkit-input-placeholder {
  color: #959595;
}

.video-detail-inner-section .control-video-tabs .tab-content .typing-block input:-ms-input-placeholder {
  color: #959595;
}

.video-detail-inner-section .control-video-tabs .tab-content .typing-block input::-ms-input-placeholder {
  color: #959595;
}

.video-detail-inner-section .control-video-tabs .tab-content .typing-block input::placeholder {
  color: #959595;
}

.video-detail-inner-section .control-video-tabs .tab-content .typing-block input:focus, .video-detail-inner-section .control-video-tabs .tab-content .typing-block input:active {
  border: none;
  outline: none;
}

.video-detail-inner-section .control-video-tabs .tab-content .comment .each-comment .user-inf {
  gap: 10px;
}

.video-detail-inner-section .control-video-tabs .tab-content .comment .each-comment .user-inf .cmt-user-avatar {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-detail-inner-section .control-video-tabs .tab-content .comment .each-comment .user-inf .user-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.video-detail-inner-section .control-video-tabs .tab-content .comment .each-comment .user-inf .user-comment-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #b4bbc6;
}

.video-detail-inner-section .control-video-tabs .tab-content .comment .each-comment .comment-text {
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #272727;
  margin: 0;
}

.video-detail-inner-section .control-video-tabs .tab-content .comment .each-comment .reply-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #8991a0;
}

.video-detail-inner-section .control-video-tabs .tab-content .comment .child-cmt-list {
  padding-left: 20px;
}

.video-detail-inner-section .control-video-tabs .tab-content .comment .child-cmt-list .more-child-counter {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6491dd;
  padding: 4px 0 10px;
}

.video-detail-inner-section .list-unit {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 640px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.video-detail-inner-section .list-unit::-webkit-scrollbar {
  width: 4px;
}

.video-detail-inner-section .list-unit::-webkit-scrollbar-track {
  background: transparent;
}

.video-detail-inner-section .list-unit::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #c4c4c4;
}

.video-detail-inner-section .list-unit::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.video-detail-inner-section .list-unit .unit-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  padding-left: 8px;
  margin-bottom: 16px;
}

.video-detail-inner-section .list-unit .unit-name::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 21px;
  background: #ffa216;
  left: 0;
  top: 0;
}

.video-detail-inner-section .list-unit .each-lesson {
  border: 1px solid #e1e7f5;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
}

.video-detail-inner-section .list-unit .each-lesson.exercise-lesson {
  padding: 6px 12px;
  font-weight: 400;
  font-size: 16px;
}

.video-detail-inner-section .list-unit .each-lesson .btn-lesson-expand {
  padding: 10px 12px;
  background: #ffffff;
  border: none;
  border-radius: 8px 8px 0 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.video-detail-inner-section .list-unit .each-lesson .btn-lesson-expand .expand-icon {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.video-detail-inner-section .list-unit .each-lesson .btn-lesson-expand[aria-expanded='true'] .expand-icon {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse {
  border-radius: 0;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part {
  padding: 12px;
  border-radius: 0;
  border: none;
  border-top: 1px solid #e2e2e2;
  text-decoration: none;
  gap: 12px;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.is-active {
  background: #ededed;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.is-active .lesson-content {
  font-weight: 700 !important;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.video-lesson .thumb-block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.video-lesson .thumb-block .lock-tag {
  display: none;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 1;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.video-lesson .thumb-block .video-thumb {
  width: 76px;
  height: 50px;
  border-radius: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.video-lesson .thumb-block .video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.video-lesson .thumb-block.is-charge .lock-tag {
  display: none;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.video-lesson .thumb-block.is-lock .lock-tag {
  display: block;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part.exercise-lesson .lesson-status {
  color: #888888;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part .lesson-content {
  width: 100%;
  padding-left: 10px;
  font-weight: 400;
  font-size: 15px;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part .lesson-content .small-detail {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
  margin-left: 4px;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part .lesson-status {
  gap: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part .extra-block {
  padding: 8px 12px;
  background: #f7f7f7;
  border-radius: 8px;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part .extra-block .type-n-text {
  gap: 8px;
  font-size: 15px;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part .extra-block .mcq-counter {
  font-weight: 500;
  font-size: 18px;
}

.video-detail-inner-section .list-unit .each-lesson .lesson-collapse .lesson-part .extra-block .mcq-counter .sc {
  color: #7bbf6a;
}

.video-detail-inner-section .btn-join {
  margin: 16px 0;
  gap: 8px;
  padding: 11px;
  background: #4086ff;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.video-detail-inner-section .rating-block {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 12px 0px;
}

.video-detail-inner-section .rating-block-title {
  padding: 0 23px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #0a152a;
}

.video-detail-inner-section .rating-block .rating-modal-trigger {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  color: #4086ff;
}

.video-detail-inner-section .rating-block .rating-counter-block {
  border-bottom: 1px solid #e2e2e2;
  padding: 0 16px 0 23px;
}

.video-detail-inner-section .rating-block .rating-counter-block .total-counter {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6b6d70;
}

.video-detail-inner-section .rating-block .rating-content {
  padding: 24px 0;
}

.video-detail-inner-section .rating-block .rating-content .mty-content {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6b6d70;
  text-align: center;
}

.video-detail-inner-section .rating-block .rating-content.avg-rating .each-comment {
  gap: 24px;
  margin-bottom: 34px;
}

.video-detail-inner-section .rating-block .rating-content.avg-rating .each-comment .user-rating-avtar {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-detail-inner-section .rating-block .rating-content.avg-rating .each-comment .comment-detail .user-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 10px;
}

.video-detail-inner-section .rating-block .rating-content.avg-rating .each-comment .comment-detail .user-rating {
  gap: 12px;
}

.video-detail-inner-section .rating-block .rating-content.avg-rating .each-comment .comment-detail .rating-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}

.video-detail-inner-section .rating-block .rating-content.avg-rating .each-comment .comment-detail .user-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

.video-detail-inner-section .rating-block .rating-content.avg-rating .each-comment .comment-detail .user-comment-time {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6b6d70;
  margin: 0;
}

.video-detail-inner-section .rating-block .rating-content.avg-rating .read-more-comment {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4086ff;
  padding-left: 98px;
}

.video-detail-inner-section .rating-block .avg-ct {
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
}

.video-detail-inner-section .chat-block {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 12px 0px;
}

.video-detail-inner-section .chat-block .chat-header {
  padding: 0px 16px;
  border-bottom: 1px solid #eeeeee;
}

.video-detail-inner-section .chat-block .chat-header .live-stream-detail {
  gap: 11px;
  margin-bottom: 13px;
}

.video-detail-inner-section .chat-block .chat-header .live-stream-detail .live-stream-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.video-detail-inner-section .chat-block .typing-block {
  gap: 4px;
  background: #f4f4f4;
  border-radius: 57px;
  padding: 6px 10px;
  margin: 0 12px 4px 20px;
}

.video-detail-inner-section .chat-block .typing-block input {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.video-detail-inner-section .chat-block .typing-block input::-webkit-input-placeholder {
  color: #959595;
}

.video-detail-inner-section .chat-block .typing-block input:-ms-input-placeholder {
  color: #959595;
}

.video-detail-inner-section .chat-block .typing-block input::-ms-input-placeholder {
  color: #959595;
}

.video-detail-inner-section .chat-block .typing-block input::placeholder {
  color: #959595;
}

.video-detail-inner-section .chat-block .typing-block input:focus, .video-detail-inner-section .chat-block .typing-block input:active {
  border: none;
  outline: none;
}

.video-detail-inner-section .chat-block .comment {
  padding: 28px 12px 16px 20px;
  height: 430px;
  max-height: 430px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.video-detail-inner-section .chat-block .comment::-webkit-scrollbar {
  width: 4px;
}

.video-detail-inner-section .chat-block .comment::-webkit-scrollbar-track {
  background: transparent;
}

.video-detail-inner-section .chat-block .comment::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #c4c4c4;
}

.video-detail-inner-section .chat-block .comment::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.video-detail-inner-section .chat-block .comment .each-comment {
  gap: 8px;
}

.video-detail-inner-section .chat-block .comment .each-comment .user-inf {
  gap: 10px;
}

.video-detail-inner-section .chat-block .comment .each-comment .user-inf .cmt-user-avatar {
  width: 26px;
  height: 26px;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-detail-inner-section .chat-block .comment .each-comment .user-inf .user-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.video-detail-inner-section .chat-block .comment .each-comment .user-inf .user-comment-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
}

.video-detail-inner-section .chat-block .comment .each-comment .comment-text {
  padding: 5px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #272727;
  margin: 0;
}

.video-detail-inner-section .chat-block .comment .each-comment .btn-action {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #ababab;
}

.video-detail-inner-section .chat-block .comment .each-comment .gr-actions {
  gap: 10px;
}

.video-detail-inner-section .chat-block .comment .child-cmt-list {
  padding-left: 20px;
}

.video-detail-inner-section .chat-block .comment .child-cmt-list .more-child-counter {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6491dd;
  padding: 10px 0;
}

.modal-rating .modal-header {
  border-bottom: none;
  padding-bottom: 0;
  text-align: center;
}

.modal-rating .modal-header .modal-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #262f3e;
  width: 100%;
}

.modal-rating .modal-header button.close {
  position: absolute;
  top: 8px;
  right: 10px;
}

.modal-rating .modal-header button.close:focus, .modal-rating .modal-header button.close:active {
  outline: none;
  border: none;
}

.modal-rating .modal-body .body-msg {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center !important;
  color: #75777b !important;
  max-width: 330px;
  margin: auto;
  margin-bottom: 16px;
}

.modal-rating .modal-body .btn-action {
  background: #ffa216;
  border-radius: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  padding: 9px;
  width: 144px;
  margin: auto;
  cursor: pointer;
}

.modal-rating.not-sub .modal-body .btn-action {
  background: #ffa216;
}

.modal-rating.sub-not-join .modal-body .btn-action {
  background: #4086ff;
}

.modal-rating.rating-comment .star-rate-block {
  gap: 12px;
}

.modal-rating.rating-comment .user-rating-comment {
  margin-top: 21px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 9px 12px;
}

.modal-rating.rating-comment .user-rating-comment:focus, .modal-rating.rating-comment .user-rating-comment:focus-visible {
  border: 1px solid #e2e2e2;
  outline: none;
}

.modal-rating.rating-comment .btn-action {
  margin-left: auto;
  background: #4086ff;
  margin-right: 0;
}

.modal-rating.rating-comment .btn-action.disabled {
  background: #c4c4c4;
  pointer-events: none;
}
/*# sourceMappingURL=video-detail.css.map */